body{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: burlywood;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: relative;
    margin: auto;
    top: 48%;
  }

  #root{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
  }